
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">All Games - {{allGamesList?.length | number:'1.0':'en-US'}}</h5>
        </div>
        <div class=" card-body card-Scroll all-icons">
          <div class="loader" *ngIf="showLoader"></div>
          <div class="row" *ngIf="!showLoader">
            <div class=" font-icon-list col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xs-6 col-6" *ngFor="let game of allGamesList">
              <div class="card cardColor border-light shadow-soft">
                <div class="card-header p-3"><img [src]="getWidth() ? game.assets.desktopThumbnail?.value : game.assets.mobileThumbnail?.value" class="card-img-top rounded" alt="Designer desk"></div>
                <div class="card-body pt-2">
                   <h3 class="h5 card-title">{{game.name}}</h3>
                   <p class="card-text">Some description about the game.</p>
                   <a href="#" class="btn btnColor btn-sm">Learn More</a>
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
